@import 'variables/colors';
@import 'base';
@import 'components/header';
@import 'components/footer';

.main-content {
  padding: 0 0.5rem;
  article.tool-check {
    display: block;
    margin: 0 auto;
    background-color: white;
    section {
      display: block;
      width: 100%;
      height: 2em;
      padding: 0 0.5rem;
      margin: 0 0 0.5rem 0;
      overflow: hidden;
      transition: all 1s ease;
      h3 {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        width: 100%;
        padding: 0;
        margin: 0;
        a {
          display: block;
          width: 100%;
          line-height: 2em;
          text-decoration: none;
          color: inherit;
          //outline: 0 none;
        }
      }
      &:target {
        height: 15em;
        background-color: #fff;
        h3 {
        }
      }
    }
  }

}
