@charset "utf-8";

@import
"../node_modules/susy/sass/susy",
'fonts',
'variables',
'base',
'mixins',
'components/elements',
'components/nav',
'components/off-canvas',
'components/header',
'components/footer',
'components/forms'
;

.page-wrapper {
  float: left;
  display: table; // for old browsers
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 0;
  height: 100vh;
  transition: width 0.3s ease;
  width: 100%;
}
.main-content {
  display: block;
  height: auto;
  padding: 0 0.5rem 3rem;
  .title {
    margin: 1rem 0 2rem;
  }

  @include susy-breakpoint($md) {
    margin: 0 auto;
    max-width: 750px;
  }

}
