/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* base styles, using foundation 6 defaults */

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: sans-serif;
}

*,*::before,*::after {;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: sans-serif;
  font-weight:normal;
  color:#000;
}

article,
aside,
footer,
header,
section {
  display:block;
}

a {
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
  text-decoration: none;
  &:active,
  &:hover {
    outline-width:0;
    text-decoration: underline;
  }
}

img {
  border-style: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
}


// foundation
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);

h1 {
  font-size: 40px;
  line-height: 40px;
}
h2 {
  font-size: 30px;
  line-height: 33px;
}
h3 {
  font-size: 23px;
  line-height: 25px;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}


 p {
   font-size: 14px;
   line-height: 16px;
   margin-bottom: 1rem;
 }


// 11. Button
// ----------

//  $button-font-family: inherit;
//  $button-padding: 0.85em 1em;
//  $button-margin: 0 0 $global-margin 0;
//  $button-fill: solid;
//  $button-background: $primary-color;
//  $button-background-hover: scale-color($button-background, //  $lightness: -15%);
//  $button-color: $white;
//  $button-color-alt: $black;
//  $button-radius: $global-radius;
//  $button-hollow-border-width: 1px;
//  $button-sizes: (
//    tiny: 0.6rem,
//    small: 0.75rem,
//    default: 0.9rem,
//    large: 1.25rem,
//  );
//  $button-palette: $foundation-palette;
//  $button-opacity-disabled: 0.25;
//  $button-background-hover-lightness: -20%;
//  $button-hollow-hover-lightness: -50%;
//  $button-transition: background-color 0.25s ease-out, color 0.25s //  ease-out;
//
//  // 15. Close Button
//  // ----------------
//
//  $closebutton-position: right top;
//  $closebutton-offset-horizontal: (
//    small: 0.66rem,
//    medium: 1rem,
//  );
//  $closebutton-offset-vertical: (
//    small: 0.33em,
//    medium: 0.5rem,
//  );
//  $closebutton-size: (
//    small: 1.5em,
//    medium: 2em,
//  );
//  $closebutton-lineheight: 1;
//  $closebutton-color: $dark-gray;
//  $closebutton-color-hover: $black;
//

//  // 25. Off-canvas
//  // --------------
//
//  $offcanvas-size: 250px;
//  $offcanvas-vertical-size: 250px;
//  $offcanvas-background: $light-gray;
//  $offcanvas-shadow: 0 0 10px rgba($black, 0.7);
//  $offcanvas-inner-shadow-size: 20px;
//  $offcanvas-inner-shadow-color: rgba($black, 0.25);
//  $offcanvas-overlay-zindex: 11;
//  $offcanvas-push-zindex: 12;
//  $offcanvas-overlap-zindex: 13;
//  $offcanvas-reveal-zindex: 12;
//  $offcanvas-transition-length: 0.5s;
//  $offcanvas-transition-timing: ease;
//  $offcanvas-fixed-reveal: true;
//  $offcanvas-exit-background: rgba($white, 0.25);
//  $maincontent-class: 'off-canvas-content';
//
