
/* base styles, using foundation 6 defaults */
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: sans-serif;
}

*,*::before,*::after {;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: sans-serif;
  font-weight:normal;
  color:#000;
}

article,
aside,
footer,
header,
section {
  display:block;
}

a {
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
  text-decoration: none;
  &:active,
  &:hover {
    outline-width:0;
    text-decoration: underline;
  }
}

img {
  border-style: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
}


// foundation
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 23px;
}
h4 {
  font-size: 18px
}


 p {
   font-size: 14px;
   line-height: 16px;
   margin-bottom: 1rem;
 }


// 11. Button
// ----------

//  $button-font-family: inherit;
//  $button-padding: 0.85em 1em;
//  $button-margin: 0 0 $global-margin 0;
//  $button-fill: solid;
//  $button-background: $primary-color;
//  $button-background-hover: scale-color($button-background, //  $lightness: -15%);
//  $button-color: $white;
//  $button-color-alt: $black;
//  $button-radius: $global-radius;
//  $button-hollow-border-width: 1px;
//  $button-sizes: (
//    tiny: 0.6rem,
//    small: 0.75rem,
//    default: 0.9rem,
//    large: 1.25rem,
//  );
//  $button-palette: $foundation-palette;
//  $button-opacity-disabled: 0.25;
//  $button-background-hover-lightness: -20%;
//  $button-hollow-hover-lightness: -50%;
//  $button-transition: background-color 0.25s ease-out, color 0.25s //  ease-out;
//
//  // 15. Close Button
//  // ----------------
//
//  $closebutton-position: right top;
//  $closebutton-offset-horizontal: (
//    small: 0.66rem,
//    medium: 1rem,
//  );
//  $closebutton-offset-vertical: (
//    small: 0.33em,
//    medium: 0.5rem,
//  );
//  $closebutton-size: (
//    small: 1.5em,
//    medium: 2em,
//  );
//  $closebutton-lineheight: 1;
//  $closebutton-color: $dark-gray;
//  $closebutton-color-hover: $black;
//
//
//
//  // 20. Forms
//  // ---------
//
//  $fieldset-border: 1px solid $medium-gray;
//  $fieldset-padding: rem-calc(20);
//  $fieldset-margin: rem-calc(18 0);
//  $legend-padding: rem-calc(0 3);
//  $form-spacing: rem-calc(16);
//  $helptext-color: $black;
//  $helptext-font-size: rem-calc(13);
//  $helptext-font-style: italic;
//  $input-prefix-color: $black;
//  $input-prefix-background: $light-gray;
//  $input-prefix-border: 1px solid $medium-gray;
//  $input-prefix-padding: 1rem;
//  $form-label-color: $black;
//  $form-label-font-size: rem-calc(14);
//  $form-label-font-weight: $global-weight-normal;
//  $form-label-line-height: 1.8;
//  $select-background: $white;
//  $select-triangle-color: $dark-gray;
//  $select-radius: $global-radius;
//  $input-color: $black;
//  $input-placeholder-color: $medium-gray;
//  $input-font-family: inherit;
//  $input-font-size: rem-calc(16);
//  $input-font-weight: $global-weight-normal;
//  $input-line-height: $global-lineheight;
//  $input-background: $white;
//  $input-background-focus: $white;
//  $input-background-disabled: $light-gray;
//  $input-border: 1px solid $medium-gray;
//  $input-border-focus: 1px solid $dark-gray;
//  $input-padding: $form-spacing / 2;
//  $input-shadow: inset 0 1px 2px rgba($black, 0.1);
//  $input-shadow-focus: 0 0 5px $medium-gray;
//  $input-cursor-disabled: not-allowed;
//  $input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
//  $input-number-spinners: true;
//  $input-radius: $global-radius;
//  $form-button-radius: $global-radius;
//
//
//  // 25. Off-canvas
//  // --------------
//
//  $offcanvas-size: 250px;
//  $offcanvas-vertical-size: 250px;
//  $offcanvas-background: $light-gray;
//  $offcanvas-shadow: 0 0 10px rgba($black, 0.7);
//  $offcanvas-inner-shadow-size: 20px;
//  $offcanvas-inner-shadow-color: rgba($black, 0.25);
//  $offcanvas-overlay-zindex: 11;
//  $offcanvas-push-zindex: 12;
//  $offcanvas-overlap-zindex: 13;
//  $offcanvas-reveal-zindex: 12;
//  $offcanvas-transition-length: 0.5s;
//  $offcanvas-transition-timing: ease;
//  $offcanvas-fixed-reveal: true;
//  $offcanvas-exit-background: rgba($white, 0.25);
//  $maincontent-class: 'off-canvas-content';
//
