/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* base styles, using foundation 6 defaults */

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
  min-height: 100%;
  vertical-align: baseline;
}

*, *::before, *::after {;
  box-sizing: inherit;
}
body {
  @include susy-breakpoint($md) {
    font-size: 18px;
    line-height: 22px;
  }
  background: white;
  color: #000;
  font-size: 16px;
  font-family: $sans-serif;
  font-weight: 200;
  line-height: 18px;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

article,
header,
section {
  display: block;
}

a {
  background-color: transparent;
  color: black;
  -webkit-text-decoration-skip: objects;
  text-decoration: underline;
}

img {
  border-style: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

h1 {
  font-size: 36px;
  line-height: 36px;
  padding: 1rem 0;
  word-wrap: break-word; // for domain names
}
h2 {
  font-size: 27px;
  line-height: 27px;
  padding: 1.3rem 0 0.3rem 0;
  word-wrap: break-word; // for domain names
}
h3 {
  font-size: 23px;
  font-weight: 700;
  line-height: 23px;
  padding: 1.3rem 0 0.3rem 0;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  padding: 1.3rem 0 0.3rem 0;
}
h5  {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 1rem 0;
}

p {
  margin-bottom: 1rem;
  padding: 0;
  line-height: 26px;
}

ul {
  margin: 0 0 1rem 2rem;
  li {
    line-height: 26px;
    margin-bottom: 0.5rem;
    ul {
      margin: 0.5rem 0 1rem 1.3rem;
    }
  }
}
ol {
  counter-reset: li-counter;
  list-style-type: none;
  margin: 0;
  margin-left: 3em;
  padding: 0 0 2rem;
  li {
    min-height: 3rem;
    padding-left: 0.5rem;
    position: relative;
    &:before {
      //border-right: 5px dotted black;
      color: black;
      content: counter(li-counter);
      counter-increment: li-counter;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1;
      position: absolute;
      top: 0.2rem;
      left: -0.6rem;
      text-align: right;
    }
  }
}

p a,
li a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid $magenta;
  &:hover {
    border-bottom: 2px solid black;
  }
}
.js-no {
  display: inline-block;
}

.js-yes {
  display: none;
}

.left {
  float: left;
}
.right {
  float: right;
}

code {
  background-color: $gray-light;
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
  padding: 0 0.5rem 0.5rem;
  white-space: normal;
  word-break: break-all;
}
