/* fonts */
@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 400;
  src: local('WorkSans Medium'), local('WorkSans-Medium'), url('fonts/WorkSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 700;
  src: local('WorkSans Bold'), local('WorkSans-Bold'), url('fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 200;
  src: local('WorkSans Light'), local('WorkSans-Light'), url('fonts/WorkSans-Light.ttf') format('truetype');
}
