@mixin button-style {
  background: $magenta;
  border: 2px solid $magenta;
  border-radius: 5px;
  clear: both;
  color: white;
  cursor: pointer;
  display: block;
  font-family: $sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem auto;
  max-width: $max-button-width;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  width: 100%;
  &:hover {
    background: black;
    border: 2px solid black;
    color: white;
    text-decoration: none;
  }

  &:disabled {
    border-color: $gray-dark;
    background: url("../images/spinner.gif") bottom right no-repeat;
    background-color: $gray-dark;
    background-size: contain;
    cursor: auto;
  }
}

@mixin results-checkbox {
  @include susy-breakpoint($md) {
    background-position: 0 0.5rem;
  }
  background: white url("images/red-x-open.svg") no-repeat;
  background-size: 30px;
  background-position: 0.5rem;
  display: none;
  padding-left: 4rem;
}

@mixin results-title {
  background: url("/images/green-check-fill.svg");
  background-repeat: no-repeat;
  background-position: 0 0.5em;
  background-size: 40px;
  padding: 0 1rem 0 4rem;
}
