.accordion {
  width: 100%;
  .transition {
    transition: all 0.5s ease-in-out;
  }
  .flipIn {
    animation: flipdown 0.5s ease both;
  }
  .no-select {
    -webkit-tap-highlight-color: black;
    user-select: none;
  }



  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }
}

.accordion-title {
  @extend .flipIn;
  @include susy-breakpoint($md) {
    background-position: 1.2rem 0.4rem;
    padding-left: 6rem;
  }
  animation-delay: 0.5s;
  background: $gray-light url("images/grey-check-open.svg") no-repeat;
  background-position: 0.2rem;
  background-size: 40px;
  border-top: 4px solid white;
  color: $charcoal;
  font-weight: 700;
  margin: 0;
  padding: 1rem 2rem 1rem 6rem;
  position: relative;
}
a {
  color: $charcoal;
}
i {
  position: absolute;
  transform: translate( -6px , 0 );
  right: 1rem;
  top: 1.2rem;
  &:before , &:after { //down arrow
    @extend .transition;
    content: "";
    position: absolute;
    background-color: $charcoal;
    width: 4px;
    height: 12px;
  }
  &:before {
    transform: translate( -4px , 0 ) rotate( 45deg );
  }
  &:after {
    transform: translate( 2px , 0 ) rotate( -45deg );
  }
}

.active {
  color: black;
  i {
    &:before {
      transform: translate( 4px , 0 ) rotate( 45deg );
    }
    &:after {
      transform: translate( -2px , 0 ) rotate( -45deg );
    }
  }
}

.fail {
  .accordion-title {
    background: $gray-light url("images/red-x-fill.svg") no-repeat;
  }
}

.success {
  .accordion-title {
    background: $gray-light url("images/green-check-fill.svg") no-repeat;
  }
}

.almost {
  .accordion-title {
    background: $gray-light url("images/gold-!-fill.svg") no-repeat;
  }
}
.accordion-content {
  padding: 1rem 1rem 1rem 0;
  background-color: white;
  margin-top: -2rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
}
