#result-template,
#add-your-domain,
#add-your-domain .learn-to-secure,
#add-your-domain .submit {
  display: none;
}

.fail-title {
  display: none;
}

.fail {
  .fail-title {
    display: block;
  }

  .default-title {
    display: none;
  }
}

