#result-template,
#add-your-domain,
.add-domain-action.learn,
.add-domain-action.submit,
.accordion-title-fail,
.accordion-title-success {
  display: none;
}

.fail-title {
  @include results-checkbox;
}

.default-title {
  @include results-checkbox;
  background: white url("images/green-check-open.svg") no-repeat;
}

.almost-title {
  @include results-checkbox;
  background: white url("images/gold-!-open.svg") no-repeat;
}


.fail {
  .fail-title {
    display: block;
  }

  .default-title {
    display: none;
  }
}
