.button,
button {
  @include button-style();
}

.button2 {
  @include susy-breakpoint($md) {
    font-size: 1.1rem;
    height: auto;
    line-height: 1.2rem;
    padding: 1rem 5rem 0.9rem 2rem;
  }
  background: $magenta;
  color: white;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  margin: 1.5rem 0;
  padding: 1rem 0.5rem 0.9rem 0.4rem;
  position: relative;
  text-decoration: none;
  width: 300px;
  a {
    color: white;
  }
  &:before , &:after {  //arrow
    content: "";
    background-color: white;
    height: 12px;
    position: absolute;
    width: 4px;
  }
  &:before {
    transform: translate( -2px , 0 ) rotate( -45deg );
    right: 1.45rem;
    top: 1em;
  }
  &:after {
    transform: translate( 2px , 0 ) rotate( 45deg );
    right: 1.75rem;
    top: 1.5rem;
  }
}

.button2-black {
  @extend .button2;
  background: black;
}

input[type=checkbox],
input[type=radio] {
  position: relative;
  z-index: -9999;
}
input[type=checkbox] + label,
input[type=radio] + label {
  position: relative;
  &:before {
    content: '';
    width: 18px;
    height: 18px;
    background: white;
    border: 2px solid $gray-dark;
    display: block;
    box-shadow: none;
    position: absolute;
    top: -1px;
    left: -20px;
  }
}

input[type=checkbox]:checked + label:before {
  border: 2px solid $green;
  background-image: url("../images/check.svg");
  background-size: 30px;
  background-position: center;
}

input[type=radio] + label:before {
  border-radius: 8px;
  top: 1px;
}

input[type=radio]:checked + label:before {
  background: $gray-dark;
  border: 4px solid #fff;
}

.add-another {
  font-weight: 700;
  margin-bottom: 2rem;
}

// dropdown for do you manage this email server
.s-hidden {
  max-width: 100%;
  visibility: hidden;

}
.select {
  @include susy-breakpoint($md) {
    margin: 0 25% 3rem;
  }
  border: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 2rem;
  max-width: 320px;
  position: relative;
  width: 100%;
}
.styledSelect {
  @include susy-breakpoint($md) {
    padding: 0.8 1rem;
  }
  background-color: white;
  border: 2px solid $magenta;
  border-radius: 30px;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  height: 3.5rem;
  padding: 0.8rem 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.options {
  border: 2px solid $magenta;
  background-color: white;
  display: none;
  font-size: 1rem;
  line-height: 1rem;
  list-style: none;
  position: relative;
  top: 1.18rem;
  margin: 0 auto;
  padding: 0 ;
  width: 20rem;
  text-align: center;
  z-index: 999;
  li {
    margin: 0;
    padding: 0 0.5rem;
    &:hover {
      background-color: $magenta;
      color: white;
    }
    &:first-child {
      display: none;
    }
    &:nth-child(2) {
      border-bottom: 2px solid $magenta;
    }
  }
}

.manage-buttons {
  @include susy-breakpoint($md) {
    margin: 0 auto 2rem;
  }
  clear: left;
  margin: 2rem auto;
  text-align: center;
}
.add-domain-accordion .accordion-content {
  background-color: $gray-light;
}

.yellow-box {
  background-color: $gold-light;
}
.spinner {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url("../images/spinner.gif");
  margin: auto;
}
