.button,
button {
  @include button-style();
}

.button2 {
  background: $gray-dark;
  color: white;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 400;
  height: 65px;
  line-height: 1.2rem;
  padding: 1rem 5rem 0.1rem 2rem;
  position: relative;
  width: 300px;
  a {
    color: white;
  }
  &:before , &:after {  //arrow
    content: "";
    background-color: white;
    height: 17px;
    position: absolute;
    width: 4px;
  }
  &:before {
    transform: translate( -2px , 0 ) rotate( -45deg );
    right: 1.45rem;
    top: 1em;
  }
  &:after {
    transform: translate( 2px , 0 ) rotate( 45deg );
    right: 1.75rem;
    top: 1.7rem;
  }
}

.button2-black {
  @extend .button2;
  background: black;
}

input[type=checkbox],
input[type=radio] {
  position: relative;
  z-index: -9999;
}
input[type=checkbox] + label,
input[type=radio] + label {
  position: relative;
  &:before {
    content: '';
    width: 18px;
    height: 18px;
    background: white;
    border: 2px solid $gray-dark;
    display: block;
    box-shadow: none;
    position: absolute;
    top: -1px;
    left: -20px;
  }
}

input[type=checkbox]:checked + label:before {
  border: 2px solid $green;
  background-image: url("../images/check.svg");
  background-size: 30px;
  background-position: center;
}

input[type=radio] + label:before {
  border-radius: 8px;
  top: 1px;
}

input[type=radio]:checked + label:before {
  background: $gray-dark;
  border: 4px solid #fff;
}

.accordion {
  width: 100%;
  .transition {
    transition: all 0.5s ease-in-out;
  }
  .flipIn {
    animation: flipdown 0.5s ease both;
  }
  .no-select {
    -webkit-tap-highlight-color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .accordion-title {
    @extend .flipIn;
    animation-delay: 0.5s;
    background: $gray-light url("images/check.svg") no-repeat;
    background-size: 60px;
    border-top: 4px solid white;
    position: relative;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0.5rem;
    color: $charcoal;
    font-weight: 700;
    margin-bottom: 0;
    padding: 1rem 0 0 4rem;
    a {
      color: $charcoal;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
    i {
      position: absolute;
      transform: translate( -6px , 0 );
      right: 1rem;
      top: 1.8rem;
      &:before , &:after { //down arrow
        @extend .transition;
        content: "";
        position: absolute;
        background-color: $charcoal;
        width: 4px;
        height: 12px;
      }
      &:before {
        transform: translate( -4px , 0 ) rotate( 45deg );
      }
      &:after {
        transform: translate( 2px , 0 ) rotate( -45deg );
      }
    }
  }

  .active {
    color: black;
    i {
      &:before {
        transform: translate( 4px , 0 ) rotate( 45deg );
      }
      &:after {
        transform: translate( -2px , 0 ) rotate( -45deg );
      }
    }
  }
  .accordion-content {
    @extend .transition;
    padding: 0 18px;
    background-color: white;
    display: none;
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.add-another {
  font-weight: 700;
  margin-bottom: 2rem;
}
