footer {
  background: #333;
  clear: both;
  color: white;
  padding: 1rem 0.5rem 3rem;
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
  a {
    color: white;
  }

  .footer-tagline {
    font-size: 0.9rem;
    text-align: left;
    .footer-logo { // logo
      float: left;
      display: inline-block;
      width: 55px;
    }
    .tagline {
      padding-top: 0.5rem;
      @include susy-breakpoint($sm) {
        padding-top: 0.7rem;
      }
      @include susy-breakpoint($md) {
        float: left;
      }
    }
    @include susy-breakpoint($md) {
      clear: both;
      margin: 0 auto;
      max-width: 750px;
      text-align: center;
    }
  }

  .index {
    display: flex;
    ul {
      flex: 0 1 auto;
      font-size: 0.8rem;
      line-height: 1rem;
      list-style: none;
      margin: 1rem 0;
      padding: 0 0.2rem 0 0;
      width: 33%;
    }
    @include susy-breakpoint($md) {
      clear: both;
      margin: 0 auto;
      max-width: 750px;
    }
  }
}
