footer {
  @include susy-breakpoint($md) {
    display: block;
  }
  background: black;
  clear: both;
  color: $cyan;
  display: none;
  padding: 1rem;
  text-transform: uppercase;
  width: 100%;

  .footer-wrapper {
    margin: 0 auto;
    padding-top: 15px;
    max-width: 750px;
  }
  .footer-logo { // logo
    float: left;
    display: inline-block;
    width: 100%;
    img {
      height: 45px;
    }
  }

  .index {
    @include susy-breakpoint($md) {
      display: flex;
      padding-left: 0;
    }
    clear: both;
    display: block;
    padding-left: 0.2rem;
    ul {
      flex: 0 1 auto;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      list-style: none;
      margin: 1rem 0;
      padding: 0 0.2rem 0 0;
      width: 50%;
    }
    a {
      border: none;
      color: $cyan;
      display: inline-block;
      text-decoration: none;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}
// used by social media icons and share links
.url-field {
  display: none;
  width: 100%;
  text-align: center;

  input {
    display: inline;
    margin: 0;
    padding: 5px;
  }
}
