footer {
  background: #333;
  clear: both;
  color: white;
  padding: 1rem 0.5rem 3rem;
  position: relative;
  bottom: 0;
  display: inline-block;
  width: 100%;
  a {
    color: white;
  }

  .footer-tagline {
    font-size: 0.9rem;
    margin-top: 7px;
    text-align: left;
  }
  .footer-logo { // logo
    float: left;
    display: inline-block;
    width: 55px;
  }
  .index {
    display: flex;
    ul {
      flex: 0 1 auto;
      font-size: 0.8rem;
      line-height: 1rem;
      list-style: none;
      margin: 1rem 0;
      padding: 0 0.2rem 0 0;
      width: 33%;
    }
  }
}
