form {
  background: $gray;
  padding: 2rem;
  font-family: $sans-serif;
  margin: 0 auto;
  max-width: 950px;

  label,
  .form-item label,
  .form-actions label {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  input[type=text],
  input[type=email],
  textarea {
    border: 2px solid $gray-dark;
    color: $gray;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 10px 5px;
    width: 100%;
    &::placeholder {
      color: #2D2D2D;
    }
  }

  input[type=submit] {
    background: $gray-light;
    border: 2px solid $gray-dark;
    border-radius: 5px;
    cursor: pointer;
    font-family: $sans-serif;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 10px 0;
    text-decoration: none;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:hover {
      background: rgba($gray-light, 0.8);
    }
  }
}
