form {
  background: $gray;
  padding: 2rem;
  margin: 0 auto;
  max-width: 950px;

  label,
  .form-item label,
  .form-actions label {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  input[type=text],
  input[type=email],
  textarea {
    border: 2px solid $gray-dark;
    color: $gray;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 10px 5px;
    width: 100%;
    &::placeholder {
      color: #2D2D2D;
    }
  }

  input[type=submit] {
    @include button-style();
  }
}
