form {
  border: 2px solid $cyan;
  padding: 2rem;
}

label,
.form-item label,
.form-actions label {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

input[type=text],
input[type=email],
textarea {
  border: 2px solid $gray-dark;
  display: block;
  font-family: $sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 10px 5px;
  margin: 1rem 0;
  max-width: $max-button-width;
  width: 100%;
  &::placeholder {
    color: #2D2D2D;
  }
}

input[type=submit] {
  @include button-style();
  max-width: $max-button-width;
}

// Remove default styles for fieldset and legend.
legend {
  display: table;
  padding: 0;
}
fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

form#scan {
  padding: 2rem;
  margin: 0 auto 2rem;
  max-width: 950px;
  background: $cyan-light;
  h4 {
    font-weight: 700;
    text-align: center;
  }
  p {
    font-weight: 400;
    text-align: center;
  }
  input[type=text],
  input[type=email],
  textarea {
    border: none;
    margin: 1rem auto;
    text-align: center;
    width: 100%;
    &::placeholder {
      color: $gray-dark;
    }
  }

  input[type=submit] {
    @include button-style();
    max-width: $max-button-width;
  }
}

form#queue {
  label {
    @extend h5;
  }
  .required {
    color: $magenta;
  }

  .add-another {
    // Strip button styles
    background: none;
    border: none;
    font-size: 1em;

    font-weight: 700;
    margin-bottom: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

#queue-errors {
  display: none;
  border: 2px solid $red;
  padding: 10px;
  font-weight: bold;
}
