header {
  text-align: center;
  .eff-project {
    color: $gray-dark;
    a {
      color: $gray-dark;
      text-decoration: underline;
    }
  }
  h1 {
    margin-bottom: 3px;

  }
  .tagline {
    margin: 0 auto 2rem;
  }
}
