header {
  margin-top: 1rem;
  text-align: center;
  .eff-project {
    color: $charcoal;
    a {
      color: $charcoal;
      text-decoration: underline;
    }
  }
  h1 {
    margin-bottom: 3px;

  }
  .logo {
    margin: 1rem auto;
    max-width: 450px;
    width: 30%;
  }
}
