$nav-height: 60px;
$nav-color:  rgba(255, 255, 255, 0.95);
$nav-font-color: rgba(255, 255, 255, 0.75);
$nav-font-size: $base-font-size / 1.5;
$nav-text-transform: lowercase;

body {
  margin-top: $nav-height;
}

nav {
  background: $gray-light;
  display: inline-block;
  text-align: center;
  width: 100%;
  ul {
    height: 2rem;
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    width: 100%;
    li {
      font-size: 0.8rem;
      line-height: 1rem;
      display: inline-block;
      margin: 0 auto;
      text-align: center;
    }
  }
}
nav.main-nav {
  background-color: $nav-color;
  display: block;
  height: $nav-height;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10;

  a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:visited {
      color: inherit;
    }
  }
  a.open-menu {
    display: inline-block;
    @include susy-breakpoint($md) {
      display: none;
    }
  }

  ul {
    display: flex;
    font-size: 0.75rem;
    justify-content: space-around;
    list-style-type: none;
    line-height: $nav-height;
    margin-bottom: 0;
    padding: 0;
    &:after {
      content: "";
    }

    li {
      display: none;
      text-align: center;
      text-transform: $nav-text-transform;
      font-size: $nav-font-size;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5);

      &.donate {
        color: red;
        text-transform: none;
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 0;
        text-align: center;
        width: 100%;
        font-size: 1.5em;
        &:hover {
          &:after {
            position: absolute;
            content: '❤';
            margin-left: 5px;
          }
        }
        @include susy-breakpoint($md) {
          font-size: 10px;
          position: relative;
          top: 0;
          width: auto;
        }
      }

      &.active {
        color: rgba(0, 0, 0, 0.95);
      }

      &:hover {
        &:not(.donate) {
          color: rgba(0, 0, 0, 0.95);
        }
      }
      @include susy-breakpoint($md) {
        display: inline-block;
      }
    }
    li.menu-logo {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 55px;
    }
    li.close-menu {
      display: none !important;
    }
    @include susy-breakpoint($md) {
      max-width: 750px;
      li.menu-logo {
        position: relative;
      }
    }
  }
}
