$nav-height: 60px;
$nav-color:  $cyan;
$nav-font-color: $cyan;
$nav-font-size: 1.1rem;
$nav-text-transform: uppercase;

body {
  margin-top: $nav-height;
}

nav {
  background-color: black;
  display: block;
  height: $nav-height;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10;

  a {
    color: $cyan;
    display: inline-block;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:visited {
      color: inherit;
    }
  }
  a.open-menu {
    @include susy-breakpoint($md) {
      display: none;
    }
    color: $cyan;
    display: inline-block;
    margin-top: 0.45em;
  }

  ul {
    display: flex;
    font-size: 0.75rem;
    height: 2rem;
    justify-content: space-around;
    list-style: none;
    line-height: 1rem;
    margin: 0.5rem auto 0;
    padding: 0;
    width: 100%;
    &:after {
      content: "";
    }

    li {
      display: none;
      text-align: center;
      text-transform: $nav-text-transform;
      font-size: $nav-font-size;
      font-weight: 700;
      color: $cyan;
      a {
        color: $cyan;
        &.active {
          color: white;
        }
        &:hover {
          &:not(.donate) {
            color: white;
          }
        }
      }
      @include susy-breakpoint($md) {
        display: inline-block;
        font-size: 1rem;
        margin: 0.9rem auto 0;
        text-align: center;
        flex-grow: 1;
      }
      &.donate {
        display: inline-block;
        margin: 0 auto;
        a {
          @include button-style();
          background: black;
          color: $magenta;
          margin: 0 auto;
          padding: 0.5rem 0;
          width: 11rem;
          span.donate-mobile {
            display: inline-block;
          }
          &:hover {
            background: $magenta;
            color: black;
          }
          @include susy-breakpoint($md) {
            background: black;
            border-width: 1px;
            padding: 0;
            position: relative;
            top: 0;
            width: 5rem;
            span.donate-mobile {
              display: none;
            }
          }
        }
        @include susy-breakpoint($md) {
          margin: 0.8rem 0 0;
          width: 8rem;
        }
      }
    }
    li.menu-logo {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 55px;
    }
    li.close-menu {
      display: none !important;
    }
    @include susy-breakpoint($md) {
      max-width: 54rem;
      li.menu-logo {
        margin-top: 0;
        position: relative;
        img {
          width: 55px;
        }
      }
    }
  }
}
