.page-wrapper {
  float: left;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 0;
  height: 100vh;
  right: 0;
  transition: right 0.3s ease;
  width: 100%;
}
.main-content {
  display: block;
  height: auto;
  padding: 0 1rem 3rem;
  width: 100%;
  .title {
    margin: 1rem 0 2rem;
  }
  @include susy-breakpoint($md) {
    margin: 0 auto;
    max-width: $max-column-width;
  }
}

.main-content.home-page {
  padding: 0 0 3rem;
  h3 {
    padding: 0 1rem 1rem 1rem;
  }
}

.main-content.list {
  h2 {
    line-height: 1rem;
    padding: 0;
  }
  h2.secure {
    padding: 3.5rem 0 0;
  }
}
