#scan-request-failed,
#results-wrapper,
.results-overview {
  display: none;
}

#loading-results {
  text-align: center;
}

.not-submitted.results-overview {
  @include results-title;
  background-image: url("/images/gold-!-fill.svg");
  .what-is {
    @include susy-breakpoint($md) {
      margin: 1.5rem 26%;
    }
  }
}

.perfect {
  @include results-title;
  background-image: url("/images/green-check-fill.svg");
}

.pending {
  @include results-title;
  background-image: url("/images/gold-!-fill.svg");
}

.could-not-connect
.fail-no-support,
.fail-not-secured {
  @include results-title;
  background-image: url("/images/red-x-fill.svg");
}
