#scan-request-failed,
#results-wrapper,
.results-overview,
.results-actions {
  display: none;
}

#loading-results {
  text-align: center;
}

.check .accordion-title,
.result .accordion-title {
  @include check-mark-header;
}

.not-submitted.results-overview {
  @include results-checkbox;
  background-image: url("/images/green-check-fill.svg");
  .what-is {
    @include susy-breakpoint($md) {
      margin: 1.5rem 26%;
    }
  }
}

.perfect.results-overview {
  @include results-checkbox;
  background-image: url("/images/green-check-fill.svg");
}

.pending.results-overview {
  @include results-checkbox;
  background-image: url("/images/green-check-fill.svg");
}

.no-mxs,
.could-not-connect,
.fail-no-support.results-overview,
.fail-not-secured.results-overview {
  @include results-checkbox;
  background-image: url("/images/red-x-fill.svg");
}

.fail .message {
  color: $red;
  font-weight: bold;
}
