#share-results {
  .share-title {
    text-align: center;
  }
  .share-links {
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
    max-width: 15rem;
    > a, > img {
      background-repeat: no-repeat;
      display: inline-block;
      height: 3.5rem;
      transition: opacity 0.3s;
      width: 3.5rem;
      &:hover {
        opacity: 0.6;
      }
      &.share-twitter  {
        background-image: url("/images/social-white-twitter.svg");
      }
      &.share-facebook  {
        background-image: url("/images/social-white-facebook.svg");
      }
      &.share-google  {
        background-image: url("/images/social-white-google.svg");
      }
    }
  }
  .url-field {
    display: none;
    width: 100%;
    text-align: center;

    input {
      display: inline;
      margin: 0;
      padding: 5px;
    }
  }
}
