.social-media {
  transition: all 1s;
  margin-bottom: 1rem;
  img {
    height: auto;
    opacity: 1;
    width: 60px;
    &:hover {
      opacity: 0.6;
    }
  }
  textarea {
    @include susy-breakpoint($md) {
      height: auto;
    }
    float: right;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0; //hide field with URL
  }
  .copy-confirm {
    transition: opacity 0.8s ease;
    color: $cyan;
    font-weight: 400;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }
}
