{{ define "main" }}
  <h1 class="title">{{ .Title }}</h1>
  {{ .Content }}

  <h2>Add <span class="your-domain">Your Domain</span> to EFF’s  STARTTLS Policy List</h2>
  <p>By adding your domain, you’re protected from downgrade attacks so e-mail servers can send e-mail to you securely.</p>

  <form id="queue" action="{{ safeURL (getenv "API_HOSTNAME") }}/api/queue" method="POST">

    <label for="domain-input">Email Domain</label>
    <div id="domain-description">
      <p>Sydney please fill out this help text for noscript users who need to reenter their domain :)</p>
    </div>
    <input name="domain" id="domain-input" type="text" aria-describedby="domain-description" placeholder="yourname@hostname.org"></input>

    <label for="email-input">Contact Email</label>
    <div id="email-description">
      <p>We’ll use this e-mail to notify you of the status of your domain and potential deliverability issues.</p>
    </div>
    <input name="email" id="email-input" type="text" aria-describedby="email-description" placeholder="yourname@hostname.org"></input>

    <fieldset>
      <legend>Mx Hostnames</legend>
      <p>What hostnames are your TLS certificates valid for? Let us know, so a DNS man-in-the-middle can’t lie to others about your hostnames. </p>
      <p>These hostnames can be [fully qualified domain names](hover: mx.eff.org) or [wildcard subdomains](hover: *.mx.eff.org).</p>

      {{ range $i, $sequence := (seq 8) }}
      <input type="text" class="mx-domain" name="mx-domain[]" placeholder="mx.domain.org" aria-label="Mx hostname {{ $i }}"></input>
      {{ end }}
      <input type="button" class="add-another js-yes" value="+ Add another hostname">
    </fieldset>

    <p>When you request submission, we will queue <span class="your-domain">your domain</span> for submission for one week, and continually run security checks against <span class="your-domain">your domain</span>. If it continues to pass this validation, you’ll be added to the list! We will notify you of your domain status via the contact e-mail above.</p>

    <p>When you are added to the list, you are required to continue meeting security guidelines. If for some reason you do not, this could impact deliverability. </p>

    <p>Read more about the STARTTLS Policy list.</p>

    <input type="submit" value="Submit your domain">
  </form>
{{ end }}
