
{{ partial "head" . }}

{{ partial "off-canvas" . }}

{{ partial "header" . }}
<div class="main-content">
  <article class="accordion">
    <h2>About/FAQ</h2>
    <section id="work">
      <h3><a href="#work">How does email work?</a></h3>
      <p>This content appears on page 1.</p>
    </section>
    <section id="insecure">
      <h3><a href="#insecure">How can my email be insecure?</a></h3>
      <p>This content appears on page 2. This content appears on page 2.  This content appears on page 2. This content appears on page 2. This content appears on page 2. This content appears on page 2. This content appears on page 2. This content appears on page 2. This content appears on page 2. This content appears on page 2. This content appears on  </p>
    </section>
    <section id="end-to-end">
      <h3><a href="#end-to-end">Does STARTTLS provide end-to-end encryption?</a></h3>
      <p>This content appears on page 3.</p>
    </section>
    <section id="provider">
      <h3><a href="#provide">If I use webmail on a secure (HTTPS) site, ...</a></h3>
      <p>This content appears on page 4.</p>
    </section>
  </article>
</div>

{{ partial "footer" . }}
