<footer>
  <div class="footer-wrapper">

  {{ partial "social-media" . }}

    <div class="footer-logo">
      <a href="https://eff.org"><img src="/images/eff-logo-turquoise-1.svg" alt="Electonic Frontier Foundation"></a>
    </div>

    <div class="index">
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/faq/">FAQ</a></li>
        <li><a href="/policy-list">STARTTLS Policy List</a></li>
        <li><a target="_blank" href="https://github.com/EFForg/starttls-everywhere">Source Code</a></li>
        <li><a target="_blank" href="https://supporters.eff.org/donate/">Donate</a></li>
      </ul>
      <ul>
        <li><a href="/contact/">contact us</a></li>
        <li><a href="https://www.eff.org/policy">privacy policy</a></li>
        <li><a href="https://www.eff.org/copyright">cc by</a></li>
      </ul>
    </div>
  </div>
</footer>
</div> <!--end page-wrapper-->
</body>
</html>
