<nav class="main-nav">
  <ul>
    <li><a href="/"><img src="/images/EFF-logo-plain.svg" alt="Electonic Frontier Foundation"></a></li>
    <li><a href="/about/">about</a></li>
    <li><a href="/faq/">FAQ</a></li>
    <li><a href="/use-list/">use the list</a></li>
    <li><a href="https://github.com/EFForg/starttls-frontend//">github</a></li>
    <li class="donate"><a target="_blank" href="https://supporters.eff.org/donate/">donate</a></li>
  </ul>
</nav>

<header>
  <div class="logo">
    <!-- TODO: img here -->
  </div>
  <h1>StartTLS Everywhere</h1>
  <div class="tagline">safer hops for email</div>
  <a href="#off-canvas" class="open-menu">&#x2261;</a>
</header>
