<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{ .Site.Title }}
  </title>

  <!--link rel="shortcut icon" href="favicon.ico" type="image/starttls.icon" /-->

  <script src="../vendor/raven.js"
    data-sentry-dsn="{{ .Site.Params.SentryPublicDSN }}"
    data-sentry-id="{{ .Site.Params.SentryProjectID }}" >
  </script>
  <script src="../vendor/jquery.min.js"></script>
  <script src="../application.js"></script>

  <link rel="stylesheet" type="text/css" href="/application.css" />
  <meta name="viewport" content="width=device-width" />

  <!-- Open graph !-->
  <meta property="og:site_name" content="STARTTLS Everewhere"/>
  <meta property="og:image" content="https://starttls-everywhere.org/images/starttls-OG.png" />
  <meta property="og:title" content="STARTTLS Everewhere"/>
  <meta property="og:description" content="Safer hops for email"/>
  <meta property="og:type" content="website"/>
  <!-- Twitter: card tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="STARTTLS Everewhere">
  <meta name="twitter:site" content="@EFF">
  <meta name="twitter:description" content="Safer hops for email">
  <meta name="twitter:image" content="https://starttls-everywhere.org/images/starttls-OG.png">
  <meta name="twitter:image:alt" content="StartTLS logo shows a hopping kangaroo">
</head>
<body>
