<nav class="main-nav fixed">
  <ul>
    <li><a href="/"><img src="/images/EFF-logo-plain.svg" alt="Electonic Frontier Foundation"></a></li>
    <li><a href="/about/">about</a></li>
    <li><a href="/faq/">FAQ</a></li>
    <li><a href="/use-list/">use the list</a></li>
    <li><a href="https://github.com/EFForg/starttls-frontend//">github</a></li>
    <li class="donate"><a target="_blank" href="https://supporters.eff.org/donate/">donate</a></li>
    <li id="hamburger">&#x2261;</li>
  </ul>
</nav>
<div id="shelf">
  <ul>
    <li><a href="/"><img src="/images/EFF-logo-plain.svg" alt="Electonic Frontier Foundation"></a></li>
    <li><a href="/about/">about</a></li>
    <li><a href="/faq/">FAQ</a></li>
    <li><a href="/use-list/">use the list</a></li>
    <li><a href="https://github.com/EFForg/starttls-frontend//">github</a></li>
    <li class="donate"><a target="_blank" href="https://supporters.eff.org/donate/">donate</a></li>
    <li id="close">&times;</li>
  </ul>
</div>
<header>
  <div class="logo">
    <!-- TODO: img here -->
  </div>
  <h1>StartTLS Everywhere</h1>
  <div class="tagline">safer hops for email</div>
