<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {{ .Site.Title }}
</title>

<!--link rel="shortcut icon" href="favicon.ico" type="image/starttls.icon" /-->

<link rel="stylesheet" type="text/css" href="../application.css" />

<meta name="viewport" content="width=device-width" />

<!-- Open graph !-->
<meta property="og:site_name" content="StartTLS"/>
<!--meta property="og:image" content="https://starttls.org/images/starttls-OG.png" /-->
<meta property="og:title" content="StartTLS"/>
<meta property="og:description" content="Safer hops for email"/>
<meta property="og:type" content="website"/>
<!--meta property="og:url" content="https:/starttls.org/images/starttls-OG.png"/-->
<!--meta property="fb:app_id" content="147715685336936" /-->
 <!-- Twitter: card tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="StartTLS">
<meta name="twitter:description" content="Safer hops for email">
<!--meta name="twitter:image" content="https://starttls.org/images/starttls-OG.png"-->
</head>
<body>
