<div id="not-submitted" class="results-overview">
  <h2><span class="your-domain-name">Your domain</span> is doing great, and can be better.</h2>

  <p>Your email domain is at risk of downgrade attacks.<p>
    <p>To mitigate downgrade attacks, *add your domain to the STARTTLS Policy List*, so servers have another point of reference to discover that you support STARTTLS.
    </p>
    <a class="button2 what-is" href="">What is the STARTTLS Policy List?</a>

    <select id="manage">
      <option selected=true disabled=true>Do you manage this email server?</option>
      <option value="yes">Yes, I manage this email server</option>
      <option value="no">No, I do not manage this email server</option>
    </select>
    <div class="manage-buttons">
      <a href="" class="add-domain-action learn button2"><strong>Learn</strong> how to secure your mailserver</a>
      <a href="/add-domain" class="add-domain-action submit button">How to add your domain</a>
    </div>
  </div>
