<div class="not-submitted results-actions">
    <a class="button2 centered" href="/faq#what-list">What is the STARTTLS Policy List?</a>

    <select id="manage">
      <option selected=true disabled=true>Do you manage this email server?</option>
      <option value="yes">Yes, I manage this email server</option>
      <option value="no">No, I do not manage this email server</option>
    </select>
    <div class="manage-buttons">
      <a href="" class="add-domain-action learn button2"><strong>Learn</strong> how to secure your mailserver</a>
      <a href="/add-domain" class="add-domain-action submit button">How to add your domain</a>
    </div>
</div>
