<div id="not-submitted">
  <h2>Your email domain supports STARTTLS, uses great TLS parameters, and presents a valid certificate!</h2>

  <p>However, you’re still susceptible to <a href="https://www.eff.org/deeplinks/2014/11/starttls-downgrade-attacks">downgrade attacks</a>. If you are an email system administrator, add your domain to the <a href="https://github.com/EFForg/starttls-everywhere" target="_blank">STARTTLS Policy list</a> so other email servers can send mail to you securely:</p>


  <label for="email-input">Contact email, so we can notify you of the status of your domain!</label>

  <input name="email" id="email-input" type="email" required aria-describedby="email-description" placeholder="yourname@hostname.org"></input>
  <input type="submit" value="Add your domain">

  <a href="https://github.com/EFForg/starttls-everywhere" target="_blank" class="button">Submitting to the STARTTLS Policy list</a>

</div>
