<div id="off-canvas" class="off-canvas">
  <ul>
    <!--li><a href="/"><img src="/images/EFF-logo-plain.svg" alt="Electonic Frontier Foundation"></a></li-->
    <li><a href="/about/">about</a></li>
    <li><a href="/faq/">FAQ</a></li>
    <li><a href="/use-list/">use the list</a></li>
    <li><a href="https://github.com/EFForg/starttls-frontend//">github</a></li>
    <li class="donate"><a target="_blank" href="https://supporters.eff.org/donate/">donate</a></li>
    <li class="close-menu"><a href="#">&times;</a></li>
  </ul>
</div>
