<div id="add-your-domain">
  <p>Your e-mail domain qualifies for the STARTTLS Policy List!</p>

  <p>Even if you pass the above checks, someone sitting between your server and other mailservers can choose to not deliver any "STARTTLS" messages and fool servers into thinking that the other does not support TLS.</p>

  <p>To prevent this from happening <a href="/add-domain">add your domain</a> to our index of high-security e-mail domains so servers have another point of reference to discover that you support STARTTLS.</p>
  <div class="yellow-box">
    <select id="manage">
      <option selected=true disabled=true>Do you manage this email server?</option>
      <option value="yes">Yes, I manage this email server</option>
      <option value="no">No, I do not manage this email server</option>
    </select>
    <p>If you’re using Postfix or Dovecot, you
      can use our Certbot plugin to enable TLS
      and set up all the relevant configurations
      parameters for you, which follows Post-
      fix’s TLS guidelines.</p>
      <p>Otherwise, consult your mailserver’s
      documentation on how to enable START-TLS.
    </p>
    </div>
  <div class="add-domain-action learn"><a href=""><strong>Learn</strong> how to secure your mailserver</a></div>
  <button class="add-domain-action submit"><a href="/add-domain">How to add your domain</a></button>
</div>
