<p>
  Your e-mail domain qualifies for the STARTTLS Policy List!
</p>
<p>
  Even if you pass the above checks, someone sitting between your server and other mailservers can choose to not deliver any "STARTTLS" messages and fool servers into thinking that the other does not support TLS.
</p>
<p>
  To prevent this from happening <a href="">add your domain</a> to our index of high-security e-mail domains so servers have another point of reference to discover that you support STARTTLS.
</p>

<select id="do-manage-server">
  <option selected=true disabled=true>Do you manage this email server?</option>
  <option value="yes">Yes, I manage this email server</option>
  <option value="no">No, I do not manage this email server</option>
</select>
<div id="learn-to-secure"><a href=""><strong>Learn</strong> how to secure your mailserver</a></div>
<button id="add-your-domain"><a href="/add-domain">How to add your domain</a></button>
