<div class="retire">
Attention: The STARTTLS Everywhere project is not currently being maintained. The information and resources on this site may be outdated. See <a href="https://www.eff.org/deeplinks/2020/04/winding-down-starttls-everywhere-project-and-future-secure-email">this post</a> for more information. If you impacted by this news, or rely on the STARTTLS Policy List, you can read <a href="https://www.eff.org/deeplinks/2020/04/technical-deep-dive-winding-down-starttls-policy-list">this post</a> for a deeper dive.
</div>
