<div id="share-results">
  <h5 class="share-title">Share these results:</h5>
  <div class="share-links">
    <a class="share-twitter" href="" target="_blank" title="Share on Twitter" alt="Share on Twitter"></a>
    <a class="share-facebook" href="" target="_blank" title="Share on Facebook" alt="Share on Facebook"></a>
    <a class="share-google" href="" title="Share on Google+" alt="Share on Google+"></a>
    <img class="copy-url" title="Show persistent url" alt="Show persistent URL" src="/images/social-white-link.svg">
  </div>
  <div class="url-field">
    <input type="text" readOnly />
  </div>
</div>
