<div class="index">
  <ul>
    <li><a href="/about/">About</a></li>
    <li><a href="/faq/">FAQ</a></li>
    <li><a href="/policy-list">STARTTLS Policy List</a></li>
    <li><a target="_blank" href="https://github.com/EFForg/starttls-everywhere">Source Code</a></li>
  </ul>
  <ul>
    <li><a target="_blank" href="https://supporters.eff.org/donate/starttls-everywhere">Donate</a></li>
    <li><a href="/contact/">Contact Us</a></li>
    <li><a href="https://www.eff.org/policy">Privacy Policy</a></li>
    <li><a href="https://www.eff.org/copyright">CC By</a></li>
  </ul>
</div>
<div>{{ partial "social-media" . }}</div>
