<div class="social-media">
  <a href="https://twitter.com/eff"><img src="/images/social-black-twitter.svg" alt="share on twitter"></a>
  <a href="https://www.facebook.com/eff" alt="share on facebook"><img src="/images/social-black-facebook.svg"></a>
  <a href="https://plus.google.com/+eff" alt="share on google+"><img src="/images/social-black-google.svg"></a>
  <img src="/images/social-black-link.svg" data-copytarget="#urlCopied" alt="share this url">
  <textarea id="urlCopied"></textarea>
  <span class="copy-confirm">copied to clipboard!</span>
</div>
