
{{ partial "head" . }}

{{ partial "off-canvas" . }}

{{ partial "header-front" . }}

<div class="main-content home-page">
  <p>Secure your email server with STARTTLS Everywhere!  Your email service can be insecure in <a href="/faq#insecure">numerous</a> <a href="https://zakird.com/papers/mail.pdf">different</a> <a href="https://www.eff.org/deeplinks/2014/12/email-encryption-surged-2014-still-needs-work-2014-review">ways</a>. This service performs a deep check of your email server's security configurations.</p>

  {{ partial "scan-form" . }}

  <h3 class="checks-overview">This tool checks whether your email domain…</h3>

  <article class="accordion">
    {{ partial "checks-overview" . }}
  </article>
  <p>STARTTLS Everywhere also maintains <strong><a href="/policy-list">the STARTTLS policy list</a></strong>, a list of domains that support strong security, so bad actors are less likely to interfere with your secure connections. If your server passes all our checks, add it to the list!</p>
</div>
{{ partial "footer" . }}
